@model ChangeUserViewModel
@{
    int i = 0;
}
<div class="col" style="max-width: 50%"></div>
<div class="col" style=" min-width: 350px; min-height: 530px; margin-top: 35px">
    <div class="my-color-loggin border rounded my-border container-fluid" style="z-index: -20;">
        <div class="my-4 mx-3">
            <div>
                <form method="post">
                    @foreach (var role in Model.AllRoles)
                    {
                        i++;
                        @if (Model.UserRoles.Contains(role))
                        {
                            <input type="checkbox" name="role-@i" checked />
                        }
                        else
                        {
                            <input type="checkbox" name="role-@i" />
                        }
                        <label for="role-@i">@role</label>
                        <br />
                    }
                    <div class="row">
                        <div class="col" style="max-width: 50%"></div>
                        <div class="col" style="min-width: 175px">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary  color-links border rounded my-border" style="background-color: #4682B4; width: 150px;">Send</button>
                            </div>
                        </div>
                        <div class="col" style="max-width: 50%"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="col" style="max-width: 50%"></div>
