@model Asernatat_3.Models.Order

@{
    ViewData["Title"] = "Create";
}
<div class="col" style="max-width: 35%"></div>
<div class="col" style="max-width: 30%; min-height: 600px;">
    <div class="row">
        <div class="col my-color-loggin rounded border my-border mt-3">
            <div class="m-3">
                <h1>Create</h1>
                <h4>Order</h4>
                <hr />
                <div class="row">
                    <div>
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Name" class="control-label">Description of art</label>
                                <input type="text" asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Prise" class="control-label"></label>
                                <input asp-for="Prise" class="form-control" />
                                <span asp-validation-for="Prise" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Time" class="control-label"></label>
                                <input type="date" asp-for="Time" class="form-control" />
                                <span asp-validation-for="Time" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="col" style="max-width: 50%"></div>
                                <div class="col" style="min-width: 175px">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary  color-links border rounded my-border" style="background-color: #4682B4; width: 150px;">Create</button>
                                    </div>
                                </div>
                                <div class="col" style="max-width: 50%"></div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col" style="max-width: 35%"></div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}