@model Asernatat_3.Models.Order

@{
    ViewData["Title"] = "Details";
}
<div class="col" style="max-width: 50%"></div>
<div class="col" style=" min-width: 350px; min-height: 530px; margin-top: 35px">
    <div class="my-color-loggin border rounded my-border container-fluid" style="z-index: -20;">
        <div class="my-4 mx-3">
            <div>
                <p><strong>YOUR ORDER IS SENT</strong></p>
            </div>
        </div>
    </div>
</div>
<div class="col" style="max-width: 50%"></div>