@{
    ViewData["Title"] = "Home Page";
}

<div class="col" style="max-width: 20%"></div>
<div class="col myy-colorr border-left border-right my-border" style="max-width: 60%; min-width: 350px; min-height: 600px;">
    <div class="my-4 mx-3">
        <h1 class="display-4 text-center"><strong>Welcome</strong></h1>
        

            <div class="row no-gutters">
                <div class="col home" style="margin: 10px; min-width: 240px;">
                    <a class="b col-my" href="#">
                        <img src="~/img/Anay.jpg" class="rounded" width="400" height="600" alt="">
                    </a>
                </div>
                <div class="col home" style="margin: 10px; min-width: 240px;">
                    <div class="col-my text-decoration-none" href="#">
                        <h2> HI everyone! </h2>
                        <p> My name is <strong> Anna White </strong>, I am a self-taught artist. Sometimes I work as a graphic designer. I am currently studying at a university </p>
                        <p> On my site you can see my work on various topics. You can also order art from me in the Order section. </p>
                        <p> Artwork takes little time, but I can't devote myself to this amazing activity every day, so it's better to negotiate the terms of work personally!) </p>
                        <p> Do you want to look at my work or order art for yourself? </p>
                        <p> <strong> Welcome to my website!) </strong> </p>
                    </div>
                </div>
            </div>

    </div>
</div>
<div class="col" style="max-width: 20%"></div>