@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";
}
<div class="col" style="max-width: 50%"></div>
<div class="col" style=" min-width: 350px; min-height: 530px; margin-top: 35px">
    <div class="my-color-loggin border rounded my-border container-fluid" style="z-index: -20;">
        <div class="my-4 mx-3">
            <div class="d-flex justify-content-center">

                <section class="mx-4 mt-2">
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <h4>Create a new account.</h4>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control my-border" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control my-border" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control my-border" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="row">
                            <div class="col" style="max-width: 50%"></div>
                            <div class="col" style="min-width: 175px">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary  color-links border rounded my-border" style="background-color: #4682B4; width: 150px;">Register</button>
                                </div>
                            </div>
                            <div class="col" style="max-width: 50%"></div>
                        </div>

                    </form>
                </section>
            </div>
        </div>
    </div>
</div>
<div class="col" style="max-width: 50%"></div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
